<div class="jumbotron">
  <h1>Promotores y Obras</h1>
  <p class="lead">
    <img src="images/obras-front01.jpg" alt="Vamossss"><br>
  </p>
  <br>
  <div class="mainbuttons">
    <a ng-hide="authenticated" class="btn btn-lg btn-default" ng-href="#/user/login">Inicia sesion 
       <span class="glyphicon glyphicon-log-in"></span></a>
    <a ng-hide="authenticated" class="btn btn-lg btn-success" ng-href="#/user/create">Registrate! 
       <span class="glyphicon glyphicon-pencil"></span></a>
  </div>
</div>

<div class="row marketing">
  <h2>Bienvenido a la aplicación de Gestión de Promotores y sus obras.</h2>
</div>

<div class="hero-unit">
  <h1>AVISO</h1>
  <p>Recuerde que para poder modificar datos de promotores y obras ha de estar registrado en la aplicación.</p>
</div>

<!--
<div class="row-fluid">
    <div class="col-md-6" ng-repeat="block in content">
      <img class="img-circle" ng-src="{{block.img}}">
      <h3>{{block.title}}</h3>
      <p>{{block.summary}} </p>
    </div>
</div>
-->

