 <h3><p class="bg-info scr-title">Listado de los promotores registrados en el sistema</p></h3>

 <p class="scr-info">
   El sistema esta actualmente gestionando un total de {{countPromo}} promotores. 
   <span>Se visualizan {{results.length}} promotores.</span> <br>
 </p>


 <form class="navbar-form navbar-right navbar-full navbar-dark bg-faded">
     <label for="title" class="control-label">Filtar resultados</label>
       <input type="text" class="form-control" ng-model="filtroPromo" placeholder="Search...">
 </form>
 <br>

 <div class="form-group">
      <input type="checkbox" id="checkbox_promo" ng-model="activado" ng-model="usuario" ng-click="gestionarCheckbox()"> 
      <label for="checkbox_promo">Ver solo mis promotores </label><br/>
 </div>


 <!--Boton para crear un promotor, en href especificamos la ruta a cargar (y por tanto la vista y controlador asociados )-->
<div class="row">
  <div class="text-center"> 
    <a class="btn btn-primary" href="/#/promotor/create">
    <span class="glyphicon glyphicon-plus"></span> Crear Promotor</a>
  </div> 
</div> 
<br>


 <table class="table table-striped table-hover">
  <!--
  <thead>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Fecha Alta</th>
    <th>Operaciones</th>    
  </thead>
  -->

  <!-- Implement sort feature 
       * ng-show="sortKey==" to show the icon ONLY on the column that is being sorted
       * ng-class to change the icon depending upon the value of reverse.
  -->
  <thead>
    <th ng-click="sort('codigop')">Codigo
      <span class="glyphicon sort-icon" 
            ng-show="sortKey=='codigop'" 
            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
      </span>
    </th>
    <th ng-click="sort('nombrep')">Nombre
      <span class="glyphicon sort-icon" 
            ng-show="sortKey=='nombrep'" 
            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
      </span>
    </th>
    <th ng-click="sort('creado_el')">Fecha Alta
      <span class="glyphicon sort-icon" 
            ng-show="sortKey=='creado_el'" 
            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
      </span>
    </th>
    <th>Operaciones</th>    
  </thead>

  <tbody>                           
                                    <!-- filter:{'creado_por': $root.current_user}:true" -->
    <!-- AngularJs provides 'orderBy' filter which takes in 2 arguments: key to sort + Order of sort (boolean)  -->
    <!--
     <tr ng-repeat="promotor in promotores    |filter:filtroPromo 
                                              |filter:{'creado_por': usuario}:strictFilter 
                                              |orderBy:sortKey:reverse
                                              as results
                                              "
             ng-class-odd="'odd'" ng-class-even="'even'">
    -->
    
    <tr dir-paginate="promotor in promotores|filter:filtroPromo
                                            |filter:{'creado_por': usuario}:strictFilter
                                            |orderBy:sortKey:reverse
                                            |itemsPerPage: numItemsPerPage
                                             as results" 
        ng-class-odd="'odd'" ng-class-even="'even'">

      <td><a ng-href="/#/promotor/detail/{{ promotor._id }}">
          {{ promotor.codigop }}</a></td> <!-- ruta para detalle del promotor -->
      <td>{{ promotor.nombrep }}</td>
      <td>{{ promotor.creado_el | date:"MMM d, y ' a las ' h:mma"}}</td>
    <!--  <td> <a ng-href="#" ng-click="eliminarPromotor(promotor._id)">Eliminar</a></td>  Borrado sin vista propia: NO enrutar -->
      <td>
        <div class="button-group">
          <a ng-href="/#/promotor/edit/{{ promotor._id }}" class="btn btn-default"
              data-toogle="tooltip"
              data-placement="top"
              title="Editar promotor">
            <span class="glyphicon glyphicon-edit"></span>
          </a>

          <a ng-href="/#/promotor/delete/{{ promotor._id }}" class="btn btn-danger"
              data-toogle="tooltip"
              data-placement="top"
              title="Borrar promotor"> <!-- Borrado con vista propia: SI enrutar -->
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        <!--   <a ng-href="/#/obraspromotor/{{ promotor._id }}/{{ promotor.nombrep }}" class="btn btn-info"> -->
          <a ng-href="/#/obraspromotor/{{ promotor._id }}" class="btn btn-info"
              data-toogle="tooltip"
              data-placement="auto"
              title="Consulta las obras del promotor" 
              ng-click="$root.promotorSeleccionado = promotor.nombrep">
            <span class="glyphicon glyphicon-list-alt"></span>
          </a>
        </div>
      </td>                                                                    
    </tr>
  </tbody>
</table> 

 <ng-include src="'views/pagination.html'"></ng-include> 








