<ng-include src="'views/promotor-navs.html'"></ng-include>
<ng-include src="'views/promotor-add.html'"></ng-include>

<!--

<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: viewPromotor}"><a ng-href="/#/promotor/detail/{{ promotor._id }}">View</a></li>
  <li role="presentation" ng-class="{active: editPromotor}"><a ng-href="/#/promotor/edit/{{ promotor._id }}">Edit</a></li>
</ul>

<form role="form">
  <div class="form-group">
    <label for="title" class="control-label">Código Promotor</label>
    <input type="text" ng-model="promotorDatos.codigop" class="form-control" id="procod" placeholder="Introduzca el código de promotor">
  </div>
  <div class="form-group">
    <label for="title" class="control-label">Nombre Promotor</label>
    <input type="text" ng-model="promotorDatos.nombrep" class="form-control" id="pronom" placeholder="Teclee el nombre del promotor">
  </div>
  <input type="submit" class="btn btn-primary" ng-click="guardarPromotor()" value="Save">
</form>
-->